body {
   font-family: 'Roboto', sans-serif;
   margin: auto;
   box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    flex-wrap: wrap;
    min-width: 800px;
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    color: #F9FAF8;
    background-color: #1F2937;
    color: white;
    height: 60px;
    padding-left: 12px;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    align-self: center;
    justify-content: flex-start;
}

.section-1 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top:50px;
    padding-bottom: 100px;
    background-color: #1F2937;;
    box-sizing: border-box;
    font-size: 18px;
    color: #E5E7EB;
}

.img-wrap-top {
    max-width: 600;
}

.img-wrap-top img {
    max-width: 100%;
    height: auto;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

.section-1-text {
    flex-direction: column;
    width: 400px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.button-1 {
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 6px 30px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-2-imgs {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-width: 0;
    height: auto;
    justify-content: center;
    gap: 40px;
}

.img-wrap-mid {
    max-width: 150px;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid #3882F6;
}

.img-wrap-mid img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.sub-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.subtext {
    text-align: center;
    font-size: 16px;
    color: #1F2937;
    max-width: 150px;
    max-height: 150px;
    padding-top: 10px;
}

.section-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E5E7EB;
    padding-bottom: 40px;
}

blockquote {
    text-align: justify;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    max-width: 800px;
}

blockquote footer {
    text-align: right;
    font-size: 18px;
    color: #1F2937;
    font-weight: 900;
}

.section-4 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-4-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3882F6;
    max-width: 700px;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    padding-bottom: 40px;
    padding-top: 0;
    box-sizing: border-box;
}

h4 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 0;
}
.section-4-text {
    align-self: flex-end;
    color: #F9FAF8;
    font-size: 14px;
    margin-top: 0;
}

.button-2 {
    align-self: flex-end;
    background-color: #3882F6;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    font-weight: 900;
    padding: 6px 30px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    min-width: 800px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #1F2937;
    color: white;
    height: 80px;
    justify-content: center;
    align-items: center;
}
#links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;   
    color: #E5E7EB;
    padding: 16px;
}
ul {
    list-style-type: none;
}