body {
   font-family: 'Roboto', sans-serif;
   margin: auto;
   box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    flex-wrap: wrap;
    min-width: 800px;
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    color: #F9FAF8;
    background-color: #1F2937;
    color: white;
    height: 60px;
    padding-left: 12px;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    align-self: center;
    justify-content: flex-start;
}

.section-1 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top:50px;
    padding-bottom: 100px;
    background-color: #1F2937;;
    box-sizing: border-box;
    font-size: 18px;
    color: #E5E7EB;
}

.img-wrap-top {
    max-width: 600;
}

.img-wrap-top img {
    max-width: 100%;
    height: auto;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

.section-1-text {
    flex-direction: column;
    width: 400px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.button {
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 6px 30px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2-imgs {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-width: 0;
    height: auto;
}

#links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;   
    color: #E5E7EB;
    padding: 16px;
}
ul {
    list-style-type: none;
}