body {
   font-family: 'Roboto', sans-serif;
   margin: auto;
}

.body {
    display: flex;
    padding: 80px;
    flex-direction: column;
}

.header {
    display: flex;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #1F2937;
    color: white;
    position:fixed;
    height: 60px;
    padding-left: 80px;
    padding-right: 80px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#links {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a {
    text-decoration: none;
    font-size: 18px;   
    color: #E5E7EB;
    padding: 16px;
}
ul {
    list-style-type: none;
}